:root {
  --btn-color: #f89854;
  --link-color: #d65a03;
  --text-color: #000;

  /* current course  */
  --current-course-background: #f4f8fc;
  --curent-course-progress-bar-color: #3473ab;
  --current-course-bottom-border: #a9c9d6;
}
.pointer {
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
}

:root {
  /* This is for your main call-to-action button, used in the most important interactions. */
  --button-primary: #ff6839;
  /* Used for less important actions, complementing the primary button. */
  --button-secondary: #f89854;
  /* Even less emphasis than the secondary, for less crucial actions. */
  --button-tertiary: #000;
  /* For actions that could have negative consequences, like deleting or removing something. */
  --button-danger: red;
  /* Indicates a successful action, like confirming a submission or completion. */
  --button-success: green;
  /* For informational purposes, like getting more details. */
  --button-info: yellow;
  /* To alert users, typically used before performing potentially harmful actions */
  --button-warning: blue;
  /* For buttons that are not currently interactive. */
  --button-disabled: black;
  /* For buttons that change state, like on/off switches. */
  --button-toggle: pink;

  /* User Stats */
  --user-stats-background-color: linear-gradient(
    100deg,
    rgba(232, 244, 246, 0.82) 20.53%,
    rgba(196, 222, 231, 0.82) 102.44%
  );
  --user-stats-card-border-color: #cce9eb;
  --user-stats-text-border-color2: #729b9e;
  --user-stats-title-color: rgb(46, 68, 92);

  /* Metric maps */
  --metric-map-card-border-color: #e5e4e2;

  /* Quick Actions */
  --favorite-button: radial-gradient(
    104.17% 104.17% at 77.62% 22.26%,
    #ff9aac 0%,
    rgba(255, 223, 213, 0.91) 100%
  );

  /*learning module card */
  --learning-module-card: radial-gradient(
      108.29% 126.73% at 8.66% -41.4%,
      rgba(0, 0, 0, 0.07) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(
      111.01% 98.09% at 92.56% 114.4%,
      rgba(255, 255, 255, 0.24) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #b1b4ff;
  --learning-module-border: 0.13rem solid #b1b4ff;
  --learning-module-card-box-shadow: 0px 12px 10px -3px rgba(177, 180, 255, 0.3);

  /* CourseDetails page */
  --expansion-panel-course-progress-button-background: linear-gradient(
      0deg,
      var(--llama-primary-default, #ff6839) 0%,
      var(--llama-primary-default, #ff6839) 100%
    ),
    #fff;
  --expansion-panel-course-progress-button-box-shadow: 0px 3px 5px -3px rgba(237, 77, 24, 0.23);
  --expansion-panel-course-progress-button-border-radius: 1.32rem;
  --expansion-panel-course-progress-button-color: white;
  --course-outline-title-background-color: rgba(0, 0, 0, 0.03);
}
